body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

.delete-form button:hover {
  color: white;
  background-color: red;
  transition: 0.3s;
}

.update-button {
  color: black;
}

.update-button:hover {
  color: white;
  background-color: #98D4BB;
  transition: 0.3s;
}

.save-button {
  color: black;
}

.save-button:hover {
  color: white;
  background-color: #98D4BB;
  transition: 0.3s;
}